body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.searchData:hover {
  cursor: pointer;
}

.custom_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

.main_title {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  margin-top: 15px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
}

.api_title {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: 'Jua', sans-serif;
  font-size: 20px;
}

.api_content {
  border-radius: 15px;
  box-shadow: 0 0 10px #e4e4e4;
  max-width: 370px;
  padding: 10px;
  font-Family: 'Jua', sans-serif;
}

.profile_content {
  border-radius: 15px;
  box-shadow: 0 0 10px #e4e4e4;
  font-size: 18px;
  max-width: 500px;
  padding: 10px;
  font-Family: 'Gothic A1', sans-serif;
}

.nickname_content {
  border-radius: 15px;
  box-shadow: 0 0 10px #e4e4e4;
  font-size: 20px;
  padding: 10px;
  height: 50px;
  width: 150px;
  font-Family: 'Jua', sans-serif;
}

.search {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-family: 'Jua', sans-serif;
}

.weather_graph_in {
  display: flex;
  height: 50px;
  width: 900px;
  padding: 10px 0 0 10px;
  font-size: 12px;
}

.weather_graph_box {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  text-align: center;
}

.weather_graph_out {
  -ms-overflow-style: none;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 160px;
  margin: 0 auto;
  max-width: 350px;
  overflow-x: auto;
  scrollbar-width: none;
}

.weather_graph_out::-webkit-scrollbar {
  height: 10px;
  /* 스크롤바의 너비 */
}

.weather_graph_out::-webkit-scrollbar-thumb {
  width: 10px; /* 스크롤바 길이 */
  background: deepskyblue; /* 스크롤바의 색상 */
  border-radius: 5px;
}

.swiper-slide {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 10px;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  width: 100%;
}

.swiper-wrapper {
  box-sizing: initial;
  display: flex;
  position: relative;
  transition-property: -webkit-transform;
  width: 100%;
  z-index: 1;
}


.swiper-container {
  border-radius: 15px;
  box-shadow: 0 0 10px #e4e4e4;
  height: 180px;
  width: 350px;

  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}

.changebutton {
  border: 1px solid black;
  border-radius: 7px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}